:root {
  --light-green: #99b898;
  --green: #99b89873;
  --dark-green: #445244;

  --lightest-grey: #505050;
  --light-grey: #2b2b2b;
  --grey: #3a3a3ab5;
  --dark-grey: #282828;
  --darker-grey: #242424;
  --darkest-grey: #13131396;

  --black: #000000;
  --white: #ffffff;
}
